DirectoryIndex menu.php

Require local
Require ip 10.0.0.0/8

SetEnv OPENWEATHERMAP_API_KEY <your-api-key-here>
SetEnv CITY "Berlin"
SetEnv LATITUDE 52.52437
SetEnv LONGITUDE 13.41053

# Optional: disable weather icons and show German text labels instead
# SetEnv SHOW_ICONS false

Options +FollowSymLinks
RewriteEngine On
RewriteRule ^menu\.jsp$ menu.php [L]
RewriteRule ^request\.do$ menu.php [L]
